
.DS_Store
Classic_Method/.DS_Store
Classic_Method/db.sqlite3
Classic_Method/runs
Client_1/.DS_Store
Client_2/.DS_Store
Server/.DS_Store
Server/outputs
Web/.DS_Store
Web/misc/.DS_Store
Web/static/.DS_Store
Web/templates/.DS_Store
Web/visualization/.DS_Store
```