
.DS_Store
Classic_Method/.DS_Store
Client_1/.DS_Store
Client_2/.DS_Store
Server/.DS_Store
Server/outputs
Web/.DS_Store
Web/misc/.DS_Store
Web/static/.DS_Store
Web/templates/.DS_Store
Web/visualization/.DS_Store
Datasets/clients/file_1.csv
Datasets/clients/file_2.csv
Datasets/clients/file_3.csv
Datasets/clients/file_4.csv
Client_1/outputs
Client_2/outputs
.idea
```