<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Detection Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">
    <link href="../static/form_style.css" rel="stylesheet">
</head>

<body>

    <header class="upper_case">
        <a href="/"><img src="../static/back.png" alt="Back" class="back-button"></a>
        <span>Bachelor Thesis</span>
    </header>

    <section id="title-section" class="upper_case">
        <h1>Diabetes Prediction Form</h1>
    </section>

    <article>

        <section class="main">

            <form action="/predict_form" method="post">
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" required><br>

                <label for="hypertension">Hypertension:</label>
                <input type="checkbox" name="hypertension" id="hypertension"><br>

                <label for="heart_disease">Heart Disease:</label>
                <input type="checkbox" name="heart_disease" id="heart_disease"><br>

                <label for="bmi">BMI:</label>
                <input type="number" name="bmi" id="bmi" required><br>

                <label for="HbA1c_level">HbA1c Level:</label>
                <input type="number" name="HbA1c_level" id="HbA1c_level" required><br>

                <label for="blood_glucose_level">Blood Glucose Level:</label>
                <input type="number" name="blood_glucose_level" id="blood_glucose_level" required><br>

                <button type="submit">Predict</button>
            </form>

            {% if prediction_result is defined %}
                <h2>Prediction Result</h2>
                <p>{{ prediction_result }}</p>
            {% endif %}

        </section>

    </article>

</body>

</html>
